@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat+Subrayada:400,700&display=swap');
/*   comprobamos que los estilos funcionan con el selector global "*"   */

/* * {
    background-color: red;
} */

/* selector de etiqueta */

h1 {
    font-size: 60px;
    color: #5d5d5d;
    font-family: 'Montserrat Subrayada', sans-serif;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: blueviolet;
    font-family: 'Dancing Script', cursive;
}

p {
    font-size: 18px;
    color: red;
    line-height: 40px;
}

span {
    color: green;
    font-size: 25px;
    font-weight: bold;
}

img {
    width: 300px;
    /* height: 150px; */
}

a {
    color: #000;
    text-decoration: none;
}

/* selector de clase */

.spanDos {
    font-size: 11px;
    color: blue;
}